#map {
  height: 400px;
  width: 100%;
  width: 350px;
}
.event-container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #fff;
}

.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 40px;
}

/* LEFT */
.events h1 {
  margin-bottom: 15px;
}

.events span {
  font-weight: normal;
}

.tabs button {
  background: #e6f2ff;
  border: 1px solid #1a73e8;
  color: #1a73e8;
  padding: 6px 10px;
  border-radius: 4px;
}

.filters {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.filters button {
  background: #f1f3f5;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.event {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 15px;
  padding: 20px 0;
  border-top: 1px solid #eee;
}

.event img {
  border-radius: 6px;
}

.date {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
}

.event h3 {
  margin: 0 0 6px;
  font-size: 16px;
}

.event p {
  margin: 0;
  color: #555;
}

small {
  display: block;
  margin-top: 6px;
  color: #777;
}

.alert {
  color: #e53935;
  font-weight: bold;
}

/* RIGHT */
.map h3 {
  margin-bottom: 10px;
}

.map-box {
  position: relative;
  height: 300px;
  background: #eaeaea;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-box button {
  background: white;
  border: 2px solid #1a73e8;
  color: #1a73e8;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
