* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}
/* HEADER */
header {
  background-color: #ffff;
}
.header-container {
  max-width: 94.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6875rem 0.6875rem;
  border-bottom: 1px solid #e6e6e6;
}
.left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.search {
  display: flex;
  align-items: center;
  /* border: 1px solid #d9d9d9; */
  /* border-radius: 8px; */
  overflow: hidden;
  height: 2.625rem;
}

.search input {
  /* border: none; */
  outline: none;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875rem;
  color: #707070;
}

.search input:first-child {
  padding-left: 2.125rem;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.125%209.625C15.125%2012.6626%2012.6626%2015.125%209.625%2015.125C6.58743%2015.125%204.125%2012.6626%204.125%209.625C4.125%206.58743%206.58743%204.125%209.625%204.125C12.6626%204.125%2015.125%206.58743%2015.125%209.625ZM16.5%209.625C16.5%2013.4219%2013.4219%2016.5%209.625%2016.5C5.82804%2016.5%202.75%2013.4219%202.75%209.625C2.75%205.82804%205.82804%202.75%209.625%202.75C13.4219%202.75%2016.5%205.82804%2016.5%209.625ZM15.0972%2016.0694L14.6271%2015.5993C14.979%2015.3044%2015.3044%2014.979%2015.5993%2014.6271L16.0694%2015.0972L18.8194%2017.8472C19.0879%2018.1157%2019.0879%2018.551%2018.8194%2018.8194C18.551%2019.0879%2018.1157%2019.0879%2017.8472%2018.8194L15.0972%2016.0694Z%22%20fill%3D%22%23707070%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px;
}

.search-text {
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  height: 2.625rem;
}
.search .location {
  height: 2.625rem;
  border-left: none;
  min-width: 12.5rem;
  padding-left: 1.0625rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
}

.search-btn {
  background: #f65858;
  border: none;
  height: 2.625rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  padding: 0 0.6875rem;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.3125rem;
}

.right a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #333;
}

.welt-icon {
  width: 20px;
  height: 20px;
  fill: #212121;
  margin-right: 6px;
}

.header-language {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.btn-main {
  border: none;
  background: #008294;
  color: #ffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
}
.btn-link {
  border: none;
  color: #212121;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
  background: none;
}
.btn-outline {
  border: 2px solid #ffffff;
  color: #212121;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  background: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

/* @media (max-width: 768px) {
  .search {
    display: none;
  }
} */

@media (max-width: 396px) {
  .header-container {
    grid-template-columns: 1fr;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search {
    position: absolute;
    top: 80px;
  }
  .search .location {
    display: none;
  }
}

/* MAIN */
main {
  background: #707070;
}
.container {
  width: 1196px;
  margin: auto;
}
.main-container {
  border: 1px solid red;
  display: flex;
  padding-top: 71px;
  padding-bottom: 98px;
  gap: 46px;
}
.main-container h1 {
  max-width: 600px;
  font-weight: 700;
  font-size: 42px;
  color: #212121;
  margin-bottom: 24px;
}
.main-container p {
  max-width: 600px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  margin-bottom: 24px;
}
@media (max-width: 396px) {
  .container {
    width: 364px;
    /* margin-left: 14px;
    margin-right: 14px; */
    padding-right: 14px;
    padding-left: 14px;
  }
  .main-container {
    flex-direction: column;
  }
}

/* SECTION cities on Meetup */
.city p {
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

.city-cards {
  margin-top: 28px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
.city-card {
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-card a {
  text-decoration: none;
  padding-top: 24px;

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #212121;
}

/* SECTION Meetup */
.meetup-title {
  margin-bottom: 24px;
}

.meetup-steps {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}
.meetup-step {
  flex: 1;
  display: flex;
  gap: 24px;
  padding: 32px 0px 24px 24px;
  background: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
}

.meetup-step h3 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.meetup-step p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.meetup-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00798a;
}

@media (max-width: 768px) {
  .meetup-steps {
    flex-direction: column;
  }
}

/* SECTION Friendships are made on Meetup  */
.friendship p {
  max-width: 55.875rem;
  margin-top: 1rem;
  padding-bottom: 1.75rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}
.friendship-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3.375rem;
}

.friendship-card img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.friendship-card_h3 {
  max-width: 292px;
}
.friendship-card h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
}

.friendship-card p {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 0.75rem;
}

.read-more {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00798a;
}

@media (max-width: 900px) {
  .friendship-cards {
    grid-template-columns: 1fr;
  }
}
/* FOOTER */
footer {
  background: #212121;
}
.footer-top {
  padding-top: 1.5rem;
  display: flex;
  gap: 1.125rem;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-bottom: 1.25rem;
  margin-bottom: 1.5rem;
}

.footer-top h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #f6f7f8;
}
.footer-content {
  display: flex;
  padding-bottom: 2.5rem;
}
.footer-col a {
  width: 21.4375rem;
  color: #c5c4c4;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-col a:hover {
  color: #fff;
}
.footer-col {
  display: flex;
  flex-direction: column;
}
.footer-col h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f6f7f8;
  margin-bottom: 8px;
  margin-top: 24px;
}
.footer-middle {
  display: flex;
  justify-content: space-between;
}
.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f6f7f8;
  margin-bottom: 12px;
}
.footer-icons {
  display: flex;
  gap: 2rem;
}
.footer-icon {
  width: 30px;
  height: 30px;
  fill: #d9d9d9;
}

.footer-bottom {
  display: flex;
  gap: 1.5rem;
  padding-top: 2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-bottom: 2.5rem;
}
.footer-bottom a {
  color: #c5c4c4;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
@media (max-width: 396px) {
  .footer-links {
    display: none;
  }
  .footer-content {
    justify-content: space-between;
  }
  .footer-col a {
    width: 100%;
  }
  .footer-bottom a {
    display: none;
  }
}
