.notifications-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
}
.notifications-container--hidden {
  display: none;
}
.notification {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  max-height: fit-content;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 2px #00000059;
  animation: notificationOpen 0.3s ease;
  transform-origin: 100% 0%;
}
.notification__icon {
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification__close {
  align-self: flex-start;
  margin-left: auto;
  color: white;
  cursor: pointer;
}
.notification__data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
}
.notification__title {
  font-size: 16px;
  font-weight: 500;
}
.notification__text {
  font-size: 14px;
}
@keyframes notificationOpen {
  0% {
    transform: translateX(100%);
    scale: 70%;
  }
  100% {
    transform: translateX(0%);
    scale: 100%;
  }
}
.notification--success {
  background-color: rgb(63, 197, 63);
}
.notification--error {
  background-color: rgb(223, 44, 44);
}
.notification--info {
  background-color: rgb(223, 175, 44);
}

.buttons--hidden {
  display: none;
}

.notification--hidden {
  animation: notificationClose 0.3s ease;
}
@keyframes notificationClose {
  0% {
    transform: translateX(0%);
    scale: 100%;
  }
  100% {
    transform: translateX(100%);
    scale: 70%;
  }
}
