* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.openModalBtn {
  margin: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

/* overlay */
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
}

/* modal window */
.modalBody {
  position: relative;
  background: #fff;
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* close icon */
.closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  cursor: pointer;

  font-size: 20px;
  color: #555;
}

.closeModalBtn:hover {
  color: #000;
}

.modalHidden {
  display: none;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

input {
  padding: 8px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modalActions button {
  padding: 8px 14px;
  cursor: pointer;
}

.checkbox {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.input-error {
  border: 2px solid red;
}
.error {
  color: red;
  font-size: 12px;
  min-height: 14px;
}

.serverMessage {
  font-size: 14px;
  margin-bottom: 10px;
  min-height: 16px;
}

.serverMessage.success {
  color: green;
}

.serverMessage.error {
  color: red;
}

/* cssloader*/
.loaderOverlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* кнопка */
.submitBtn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
