* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalBody {
  position: relative;
  background-color: #fff;
  max-width: 320px;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgb(163, 162, 162);
}

.modalHidden {
  display: none;
}

.closeModalBtn {
  position: absolute;
  top: 8px;
  right: 8px;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-size: 20px;
  color: #555;
}

.closeModalBtn:hover {
  color: #000;
}
