$violet: #6750a4;
$white: white;
$black: #1d1b1e;
$colorViolet: #d0bcff;

$font-family: "Inter", sans-serif;
$font-color: #1d1b1e;
$background-body: #faf6ff;
$background-task: rgba(103, 80, 164, 0.05);
$background-task-done: rgba(103, 80, 164, 0.05);
$color-accent: #d0bcff;
$color-border: #79747e;
$color-tab-active: #eadeff;
$color-tab-inactive: #fffbff;
$color-modal-bg: #f7f2fa;
$color-input-bg: #f8f3ff;
$color-toggle: #6750a4;
$color-cancel-border: #c9b8e8;
$shadow-floating-btn: rgba(0, 0, 0, 0.15);
