* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf6ff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 428px;
  /* border: 1px solid black; */
  padding: 24px 16px;
}

.day {
  width: 63px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1d1b1e;
}

.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1d1b1e;
  margin-bottom: 16px;
}

.search {
  position: relative;
  margin-bottom: 16px;
}

.search input {
  width: 100%;
  height: 48px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 24px;
  background: rgba(29, 27, 32, 0.08);
  font-size: 16px;
}

.search .icon {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 20px;
  opacity: 0.6;
}

.tabs {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}

.tabs button {
  flex: 1;
  padding: 10px 0;
  border: 1px solid #79747e;
  background: #fffbff;
  font-size: 14px;
  cursor: pointer;
  width: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.tabs .active {
  background: #eadeff;
  font-weight: 600;
}
#btnAll {
  border-radius: 24px 0px 0px 24px;
  border-right: 0;
}
#btnDone {
  border-radius: 0px 24px 24px 0px;
  border-left: 0;
}

#btnAll,
#btnActive,
#btnDone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

#btnAll .material-symbols-rounded {
  font-size: 18px;
}
.unvisible {
  /* display: none; */
  opacity: 0;
}

.task {
  /* background: #f3ecff; */
  background: rgba(103, 80, 164, 0.0509804);
  border-radius: 16px;
  padding: 8px 12px 8px 8px;
  gap: 8px;
  margin-bottom: 12px;
  height: 62px;
}

.task.done {
  background: rgba(103, 80, 164, 0.0509804);
  opacity: 0.6;
}

.task label {
  margin-left: 13px;
  display: flex;
  gap: 13px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.task input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #d0bcff;
}

.task-info {
  display: flex;
  flex-direction: column;
}

.time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1d1b1e;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1d1b1e;
}

.done-text {
  text-decoration: line-through;
  background: rgba(103, 80, 164, 0.0509804);
}

.floating-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: calc(50% - 214px + 25px);
  background: #eadeff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.search .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  opacity: 0.6;
}
.floating-btn span {
  font-size: 26px;
}

/*Modal windows*/
.modal-unvisible {
  display: none;
}
.modal {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 428px;
  background: #f7f2fa;
  border-radius: 24px 24px 0 0;
  padding: 20px;
  /* box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1); */
}

.modal-drag {
  width: 32px;
  height: 4px;
  background: #b8b2c4;
  border-radius: 4px;
  margin: 0 auto 16px;
}

.modal-content {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #d4cde2;
  background: #f8f3ff;
  font-size: 16px;
  height: 56px;
  border-radius: 4px;
}

.toggle-row {
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

/* Toggle */
.switch {
  position: relative;
  width: 52px;
  height: 28px;
  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background: #6750a4;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch input:checked + .slider {
  background: #6750a4;
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
}

/* Кнопки */
.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  padding: 12px 26px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.add {
  background: #6750a4;
  color: white;
}

.cancel {
  background: white;
  color: #6750a4;
  border: 1px solid #c9b8e8;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 600px;
  }

  .floating-btn {
    right: calc(50% - 300px + 25px);
  }

  .modal {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 700px;
  }

  .floating-btn {
    right: calc(50% - 350px + 25px);
  }

  .modal {
    width: 700px;
  }
}
