* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  width: 100px;
  height: 30px;
  margin-left: 16px;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
}
.btn.active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
}

.frame-container {
  margin-top: 24px;
  border: 1px solid red;
  width: 80%;
  height: 300px;
}
